VITE_API_BASE_URL="http://localhost:5014"
VITE_LOGIN_URL="/api/login"
LOGIN_USERNAME = "test"
LOGIN_PASSWORD = "test"
JWT_ISS="your_issuer"
JWT_AUD="your_audience"
JWT_SECRET="Your_32-character_secret_JWT_key"